" :actionlist可以获取所有action,可自定义快捷键

" 搜索
"" 搜索类
:map sc <Action>(GotoClass)
"" 搜索文件
:map sf <Action>(GotoFile)
"" 搜索符号
:map ss <Action>(GotoSymbol)
"" 搜索最近的文件
:map se <Action>(RecentFiles)

" 跳转
"" 跳转到定义
:map gd <Action>(GotoDeclaration)
"" 跳转到实现
:map gi <Action>(GotoImplementation)
"" 跳转到引用
:map gr <Action>(ShowUsages)
"" 跳转后一个
:map gh <Action>(Back)
"" 跳转前一个
:map gl <Action>(Forward)

" 移动
"" 移动向上
:map ˚ <Action>(MoveStatementUp)
"" 移动向下
:map ∆ <Action>(MoveStatementDown)

" 重构
"" 重命名
:map <leader>rr :action RenameElement<cr>
"" 提取常量
:map <leader>rc :action IntroduceConstant<cr>
"" 提取变量
:map <leader>rv :action IntroduceVariable<cr>
"" 格式化代码
:map <leader>rfc :action ReformatCode<cr>
"" 优化import
:map <leader>rio :action OptimizeImports<cr>

" 快捷键冲突
sethandler <C-2> a:vim
sethandler <C-S-2> a:vim
sethandler <C-S-6> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
